block content
  h1=title
  body
    form(action='', method='post')
      p ユーザー　ログイン
      p Telephone:
      input(type='text',name='telephone')
      p Password:
      input(type='text',name='password')
      br
      input(type='submit',value='ログイン')
      br
    a(href='/register', title='新規登録') 新規登録