extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Status:
      input#name.form-control(type='text', placeholder='Status name' name='name' 
                               value=(undefined===status ? '' : status.status_name))
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
        