extends layout

block content

  h1 Delete Supply: #{supply.supply_name}
  
    p Do you really want to delete this Genre?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=supply._id )

      button.btn.btn-primary(type='submit') Delete